{% extends 'base.html' %}

{% block title %}Medications{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Medication List</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Dosage</th>
                    <th>Manufacturer</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for medication in medications %}
                <tr>
                    <td>{{ medication.name }}</td>
                    <td>{{ medication.dosage }}{{ medication.unity }}</td>
                    <td>{{ medication.manufacturer }}</td>
                    <td>${{ medication.public_price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}