{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="mb-4">Register</h2>
        <form method="post">
            {% csrf_token %}

            <div class="row mb-3">
                <label for="id_email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    {{ form.email }}
                </div>
            </div>

            <div class="row mb-3">
                <label for="id_first_name" class="col-sm-3 col-form-label">First name</label>
                <div class="col-sm-9">
                    {{ form.first_name }}
                </div>
            </div>

            <div class="row mb-3">
                <label for="id_last_name" class="col-sm-3 col-form-label">Last name</label>
                <div class="col-sm-9">
                    {{ form.last_name }}
                </div>
            </div>

            <div class="row mb-3">
                <label for="id_phone" class="col-sm-3 col-form-label">Phone</label>
                <div class="col-sm-9">
                    {{ form.phone }}
                </div>
            </div>

            <div class="row mb-3">
                <label for="id_specialty" class="col-sm-3 col-form-label">Specialty</label>
                <div class="col-sm-9">
                    {{ form.specialty }}
                </div>
            </div>

            <div class="row mb-3">
                <label for="id_hospital" class="col-sm-3 col-form-label">Hospital</label>
                <div class="col-sm-9">
                    {{ form.hospital }}
                </div>
            </div>

            <div class="row mb-3">
                <label for="id_university" class="col-sm-3 col-form-label">University</label>
                <div class="col-sm-9">
                    {{ form.university }}
                </div>
            </div>

            <div class="row mb-3">
                <label for="id_password1" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    {{ form.password1 }}
                </div>
            </div>

            <div class="row mb-4">
                <label for="id_password2" class="col-sm-3 col-form-label">Confirm Password</label>
                <div class="col-sm-9">
                    {{ form.password2 }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-9 offset-sm-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>

        <p class="mt-4 text-center">
            Already have an account? <a href="{% url 'template-login' %}">Login here</a>
        </p>
    </div>
</div>

<style>
    /* Remove password help text */
    #id_password1+ul.helptext,
    #id_password2+span.helptext {
        display: none;
    }

    /* Style form controls */
    .form-control {
        width: 100%;
        padding: 0.375rem 0.75rem;
    }

    /* Align labels to the right */
    .col-form-label {
        text-align: right;
        padding-top: 0.375rem;
    }
</style>
{% endblock %}