{% extends 'base.html' %}

{% block title %} {{ patient.first_name }} {{ patient.last_name }} {% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3>Patient Details</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5>Personal Information</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Name:</strong> {{ patient.first_name }} {{ patient.last_name }}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{ patient.email }}</li>
                        <li class="list-group-item"><strong>Phone:</strong> {{ patient.phone }}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>Medical Information</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Birthday:</strong> {{ patient.birthday }}</li>
                        <li class="list-group-item"><strong>Gender:</strong> {{ patient.gender }}</li>
                        <li class="list-group-item"><strong>Weight:</strong> {{ patient.weight }} kg</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'patient-list' %}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
        </div>
    </div>
</div>
{% endblock %}